<div class="container">
  <div class="jumbotron bg-dark">
    <h1>
      Welcome to {{ title | uppercase }}!
    </h1>
  </div>

  <div *ngIf="quote !== ''">
    <div class="card bg-dark text-white">
      <img class="card-img" width="400px" src="https://memegenerator.net/img/images/400x400/{{randomNumber}}.jpg">
    <div class="card-img-overlay">
      <h1 class="card-title memeText top">{{quote}}</h1>
      <p class="card-text memeText bottom">—{{randomSelection}}</p>
    </div>
    </div>
  </div>

  <div style="text-align:center">
    <button class="btn btn-success" (click)="getMeme()">Generate Meme!</button>
  </div>

</div>
