<div class="container">
  <div class="jumbotron bg-dark">
    <h1>
      Welcome to {{ title | uppercase }}!
    </h1>
  </div>

  <div *ngIf="quote ===''">
    <div align="center" class="card bg-dark">
      <img src="../assets/img/dr-evil.jpg" alt="Welcome to the Meme Generator!" align="center" width="400">
    </div>
  </div>

  <div *ngIf="quote !== ''">
    <div id="memeImage" class="card bg-dark text-white">
      <img class="card-img" width="500px" src="https://memegenerator.net/img/images/400x400/{{randomNumber}}.jpg">
    <div class="card-img-overlay">
      <h1 class="card-title memeText top">{{quote}}</h1>
      <p class="card-text memeText bottom">—{{randomSelection}}</p>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div style="text-align:center" class="col-sm-8 white" width="470">
      <select #language>
        <option value="english" checked> English</option>
        <option value="random" checked> Randomized English</option>
        <option value="japanese"> Japanese</option>
        <option value="russian"> Russian</option>
        <option value="greek"> Greek</option>
        <option value="telugu"> Telugu</option>
      </select>
      <button class="btn btn-success" (click)="getMeme(language.value)">Generate Meme!</button>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
