
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

body {
    background-color: #EEE;
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: verdana, sans-serif;
}

.memeText {
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    font-variant-caps: all-small-caps; /* is this necessary? */
}
