
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

body {
    background-color: #EEE;
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: verdana, sans-serif;
    background-image: url(./assets/img/bg.png);
}

.memeText {
    color: #FFF;
    -webkit-text-stroke-width: 1.25px;
    -webkit-text-stroke-color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    font-variant-caps: all-small-caps; /* is this necessary? */
    font-size-adjust: auto;
    font-size: 50px;

}

.top {
  /* position: absolute; /*this plays wonky when I resize*/
  line-height: 28px;
  top: 90px;
  left: 45px;
}

.bottom {
    position: absolute;
    line-height: 28px;
    top: 340px;
    left: 30px;
}

.card {
  width: 400px;
  padding: 8px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.jumbotron {
  color: white;
}

.white {
  background-color: #FFF;
}

/* .generate {
  position: absolute;
  top: 650px;
} */
