
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

body {
    background-color: #EEE;
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: verdana, sans-serif;
}

.memeText {
    color: #FFF;
    -webkit-text-stroke-width: 1.25px;
    -webkit-text-stroke-color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    font-variant-caps: all-small-caps; /* is this necessary? */
    font-size-adjust: auto;
    font-size: 50px;

}

.top {
  position: absolute; /*this plays wonky when I resize*/
  line-height: 28px;
  top: 90px;
  left: 45px;
}

.bottom {
    position: absolute;
    top: 400px;
    left: 45px;
}
